* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

nav {
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: orange;
  font-size: 40px;
  font-weight: bold;
  box-shadow: 0 4px 10px gray;
}

.main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display {
  width: 350px;
  height: 80px;
  background: white;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 20px;
  font-size: 28px;
  font-weight: bold;
}

.button-grid {
  width: 350px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.btn {
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 8px;
  background: #222;
  color: white;
  transition: 0.2s;
}

.btn:hover {
  background: gray;
}

.msg{
  width: 480px;
  height: 120px;
  background-color: rgba(255, 0, 0, 0.541);
  border-radius: 12px;
  margin-bottom: 20px;
  display: none;
}
.close{
  color: white;
  font-size: 22px;
  font-weight: 600;
  padding: 8px 8px;
  cursor: pointer;
}
.para{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: 600;
  color:#fff;
}